<a href="https://colab.research.google.com/github/SahilPimprikar/python-assignment/blob/main/Base_Python_Programming_Exercise_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Basic Programming Exercises

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [1]:
4.0

4.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [ ]:
# hello world
def check_even_odd(number):
    if number % 2 == 0:
        print(f"{number} is an even number.")
    else:
        print(f"{number} is an odd number.")

num = int(input("Enter a number: "))

check_even_odd(num)

Q3: Write a program to display the multiplication table by taking a number as input.
    [Hint : Use print statement inside of a loop]

In [8]:

number = int(input("Enter a number: "))

print(f"Multiplication Table of {number}")
for i in range(1, 11):
    print(f"{number} x {i} = {number * i}")

Enter a number: 5
Multiplication Table of 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7
    but are not a multiple of 5.

Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [7]:

result = []


for num in range(2000, 3201):
    if num % 7 == 0 and num % 5 != 0:
        result.append(str(num))

print(", ".join(result))

2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [6]:

data = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

type_count = {}

for item in data:
    data_type = type(item).__name__
    if data_type in type_count:
        type_count[data_type] += 1
    else:
        type_count[data_type] = 1

for data_type, count in type_count.items():
    print(f"{data_type}: {count}")

int: 5
str: 4
float: 1
bool: 1
NoneType: 1

Q6: Add all values from the list with numeric datatypes
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [5]:

data = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

total_sum = 0


for item in data:
    if isinstance(item, (int, float)):
        total_sum += item


print(f"Total sum of numeric values: {total_sum}")

Total sum of numeric values: 22.5

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [4]:

data = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

string_elements = []

for item in data:
    if isinstance(item, str):
        string_elements.append(item)

result = "-".join(string_elements)

print(result)

Py-10-SQL-John

Q8 Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [3]:
# Original list
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

odd_numbers = []

# Loop through each element in the list
for num in li:
    if num % 2 != 0:
        odd_numbers.append(num)

print("Using loops:", odd_numbers)


# Using list comprehension to get odd numbers
odd_numbers_comp = [num for num in li if num % 2 != 0]

print("Using list comprehension:", odd_numbers_comp)

# Using lambda function and filter to get odd numbers
odd_numbers_lambda = list(filter(lambda num: num % 2 != 0, li))

print("Using lambda with filter:", odd_numbers_lambda)

Using loops: [5, 7, 97, 77, 23, 73, 61]
Using list comprehension: [5, 7, 97, 77, 23, 73, 61]
Using lambda with filter: [5, 7, 97, 77, 23, 73, 61]

Q9: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows :

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [2]:
def calculate_area(shape, **kwargs):

    if shape == 'square':
        side = kwargs.get('side')
        if side is None:
            return "Please enter 'side' for a square."
        if side <= 0:
            return "Side length must be positive."
        return side ** 2

    elif shape == 'rectangle':
        length = kwargs.get('length')
        width = kwargs.get('width')
        if length is None or width is None:
            return "Please enter 'length' and 'width' for a rectangle."
        if length <= 0 or width <= 0:
            return "Length and width must be positive."
        return length * width

    elif shape == 'circle':
        radius = kwargs.get('radius')
        if radius is None:
            return "Please enter 'radius' for a circle."
        if radius <= 0:
            return "Radius must be positive."
        return 3.14159 * (radius ** 2)

    else:
        return "Shape not recognized. Please use 'square', 'rectangle', or 'circle'."

# Example usage
print(calculate_area('square', side=5))
print(calculate_area('rectangle', length=4, width=6))
print(calculate_area('circle', radius=3))
print(calculate_area('triangle', base=5, height=10))
print(calculate_area('circle'))
print(calculate_area('square', side=-4))

25
24
28.27431
Shape not recognized. Please use 'square', 'rectangle', or 'circle'.
Please enter 'radius' for a circle.
Side length must be positive.

Q10: write a UDF to check if a number is prime or not.

Q11. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [9]:
def is_prime(n):

    if n <= 1:
        return False
    if n <= 3:
        return True

    if n % 2 == 0 or n % 3 == 0:
        return False


    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6

    return True

number = 29
if is_prime(number):
    print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

for num in [1, 2, 3, 4, 17, 18, 19, 20, 25, 29, 30]:
    print(f"{num}: {'Prime' if is_prime(num) else 'Not Prime'}")

29 is a prime number.
1: Not Prime
2: Prime
3: Prime
4: Not Prime
17: Prime
18: Not Prime
19: Prime
20: Not Prime
25: Not Prime
29: Prime
30: Not Prime

In [10]:
def reverse_string(s):
    return s[::-1]

input_string = "abcd123"
reversed_string = reverse_string(input_string)

print(f"Input string: {input_string}")
print(f"Reversed string: {reversed_string}")

Input string: abcd123
Reversed string: 321dcba